<script>
var venueID = <%= @venue.id %>
var adminFlag = false;
var notifyAudio = null;
var timerAudio = null;
var pcsVenueInfo = null;

$(function() {
	notifyAudio = new Audio('/alert.mp3');
	timerAudio = new Audio('/airhorn.mp3');
	
	forcePageRefresh(function() {
		forcePapersRefresh(function() {
			startTimer();
			startVenueUpdate();
		});
	});
})
</script>

<p id="notice"><%= notice %></p>

<h1><%= @venue.name %></h1>

<div id="break" class="row invisible">
	<h2>Currently on Break</h2>
</div>
<div id="main" class="row mainrow rowspace50">
<div class="col-md-4" id="timer">
	0:00
</div>
<div class="col-md-8" id="paper-info">
	<% if @venue.active_paper -%>
		<p class="paper-id"><%= @venue.paper_pcs_id %></p>
		<p class="paper-title"><%= @venue.paper_title %></p>
		<p class="paper-authors"><%= @venue.paper_authors %></p>
	<% else -%>
		<p class="no-active-paper">No Active Paper</p>
	<% end -%>
</div>
</div>
<div class="row rowspace50">
	<div class="cold-md-12">
		<p><b>Upcoming Papers:</b></p>
		<ul id="paper-queue">
		<% @papers.each do |paper| -%>
			<li class="paper"><%= paper.pcs_paper_id %></li>
		<% end -%>
		</ul>
	</div>
</div>
