<script>
var venueID = "<%= @venue.id %>";
var adminFlag = true;
var notifyAudio = null;
var timerAudio = null;
var pcsVenueInfo = null;
var pcsUserRef = null;

$(function() {
	notifyAudio = new Audio('/alert.mp3');
	timerAudio = new Audio('/lion.mp3');

	connectVolume();

	forcePageRefresh(function() { 
		forcePapersRefresh(function() {
			setClockSync();
			startTimer();
			startVenueUpdate();			
		});
	});
	
	// for some reason, if the user returns to this page from the back button, the time
	// is not set correctly initially, which messes up the clock sync.  Waiting some
	// extra time seems to resolve this issue
	window.onpageshow=function() {
		setTimeout(function() { setClockSync(); }, 100);
	}
	
	$("#takebreak").click(function() {
		var sendData = {breaktime : true};
		updateVenueWithData(sendData, function() { forcePageRefresh(); });
	})
	$("#endbreak").click(function() {
		var sendData = {breaktime : false, timer: null, active_paper : false, paper_pcs_id : 0};
		updateVenueWithData(sendData, function() { forcePageRefresh(); });
		
		notifyAudio.play();
	});
	$("#clearTimer").click(function() {
		var sendData = {timer : null};
		updateVenueWithData(sendData, function() { forcePageRefresh(); });
	})
	$("#setTimer").click(function() {
		var increment = parseInt($("#timerNum").val());
		if (Number.isInteger(increment)) {
			var newTime = new Date((new Date()).getTime() + increment*60*1000 + clientServerClockOffset);
			var sendData = {timer : newTime.toUTCString()};
			updateVenueWithData(sendData, function() { forcePageRefresh(); });
		}
	})
	$("#addNewPaper").click(function() {
		var paperId = parseInt($("#newPaperId").val());
		if (Number.isInteger(paperId)) {
			var sendData = { 
					pcs_id : paperId
				};

			$.ajax({
			           type: "POST",
			           url: "/venues/" + venueID + "/addpaper",
			           dataType: "json",
			           success: function() { forcePapersRefresh(); },
			           data: sendData
			       });	
		}
	})
	$("#allowUserAdds").change(function() {
		var sendData = {allow_adds : $("#allowUserAdds")[0].checked};
		updateVenueWithData(sendData, function() { forcePageRefresh(); });
	})
	$("#clearActivePaper").click(function() {
		var sendData = {active_paper : false};
		updateVenueWithData(sendData, function() { forcePageRefresh(); });
	})
})
</script>

<p id="notice"><%= notice %></p>

<h1>ADMIN VIEW: <%= @venue.name %></h1>

<div id="volume">
	Volume: <input id="volumeRange" type="range" min="0.0" max="1.0" step="0.01" value="0.5"/>
</div>

<div id="controls" class="row">
	<p>
		Timer: 
		<input type="text" id="timerNum" value="5"/>
		<button id="setTimer">Set</button>
		<button id="clearTimer">Clear</button>
		
		Paper Queue: 
		<input type="text" id="newPaperId"/>
		<button id="addNewPaper">Add</button>
		
		<input type="checkbox" id="allowUserAdds" <%= @venue.allow_adds ? 'checked' : '' %>/> Allow Users to Add
		
		<button id="clearActivePaper">Clear Active Paper</button>
		
		<span id="extension-controls">
			Extension <span id="link-status">Not Installed</span>
			<button id="setExtensionIdButton" class="invisible">Link</button>
		</span>
	</p>
</div>
<div id="break" class="row invisible">
	<h2>Currently on Break</h2>
	<p><button id="endbreak">End Break</button></p>
</div>
<div id="main"> 
	<div class="row">
		<p><button id="takebreak">Take Break</button></p>
	</div>
	<div class="row mainrow rowspace50">
		<div class="col-md-4" id="timer">
			0:00
		</div>
		<div class="col-md-8" id="paper-info">
			<% if @venue.active_paper -%>
				<p class="paper-id"><%= @venue.paper_pcs_id %></p>
				<p class="paper-title"><%= @venue.paper_title %></p>
				<p class="paper-authors"><%= @venue.paper_authors %></p>
			<% else -%>
				<p class="no-active-paper">No Active Paper</p>
			<% end -%>
		</div>
	</div>
</div>
<div class="row rowspace50">
	<div class="cold-md-12">
		<p><b>Upcoming Papers: (<span id="queue-count"><%= @papers.length %></span>)</b></p>
		<ul id="paper-queue">
		<% @papers.each do |paper| -%>
			<li class="paper">
				<% if @venue.pcs2_flag -%>
					<%= link_to paper.pcs_paper_id, "https://new.precisionconference.com/" + @venue.pcs2_venue_name + (@venue.sub_committee ? "/subchair1" : "/chair") + "/subs/" + paper.pcs_paper_id.to_s, target: "_pcs_paper" %>
				<% else -%>
					<%= paper.pcs_paper_id %>
				<% end -%>
			</li>
		<% end -%>
		</ul>
	</div>
</div>
