<script>
var venueID = "<%= @venue.id %>";
var adminFlag = false;
var notifyAudio = null;
var timerAudio = null;
var pcsVenueInfo = null;

function removeACPaper(e) {
	var paperId = parseInt($(e.target).parent().parent().text());

	var acPapers = getACPapers();

	var index = acPapers.indexOf(paperId);
	if (index >= 0) {
		acPapers.splice(index, 1);

		localStorage.setItem(SESSION_STORAGE_KEY, JSON.stringify(acPapers));
		onACPaperListChange();
	}
}

function onACPaperListChange() {
	$('#acPaperList').empty()
	var acPapers = getACPapers();

	for (var i = 0; i < acPapers.length; i++) {
		var paperId = acPapers[i];
		$('#acPaperList').append(
			$("<li></li>").
				addClass('paper').
				text(paperId).
				append($("<a></a>").addClass('removeLink').
					click(removeACPaper).
					html('<div class="removeimg controlimg"></div>'))
			);
	}

	forcePapersRefresh(function() {});
}


$(function() {
	notifyAudio = new Audio('/alert.mp3');
	timerAudio = new Audio('/lion.mp3');

	connectVolume();

	forcePageRefresh(function() {
		forcePapersRefresh(function() {
			setClockSync();
			startTimer();
			startVenueUpdate();
			onACPaperListChange();
		});
	});

	// for some reason, if the user returns to this page from the back button, the time
	// is not set correctly initially, which messes up the clock sync.  Waiting some
	// extra time seems to resolve this issue
	window.onpageshow=function() {
		setTimeout(function() { setClockSync(); }, 100);
	}

	$("#addNewPaper").click(function() {
		var paperId = parseInt($("#newPaperId").val());
		if (Number.isInteger(paperId)) {
			var sendData = {
					pcs_id : paperId
				};

			$.ajax({
			           type: "POST",
			           url: "/venues/" + venueID + "/addpaper",
			           dataType: "json",
			           success: function() { forcePapersRefresh(); },
			           data: sendData
			       });
		}
	})

	$("#addACPaper").click(function() {
		var paperId = parseInt($("#acPaperId").val());
		if (Number.isInteger(paperId)) {
			// Get current papers
			var acPapers = getACPapers();

			// Don't add a duplicate
			if (acPapers.indexOf(paperId) < 0) {
				acPapers[acPapers.length] = paperId;

				// Save new list of AC paper IDs
				localStorage.setItem(SESSION_STORAGE_KEY, JSON.stringify(acPapers));
			}

			onACPaperListChange();
			$("#acPaperId").val('');
		}
	});

	$("#clearAllACPapers").click(function() {
		localStorage.removeItem(SESSION_STORAGE_KEY);
		onACPaperListChange();
	});
})
</script>

<div class="invisible">
	<span id="pcs2flag"></span>
	<span id="pcs2venueName"></span>
</div>

<main>
<p id="notice"><%= notice %></p>

<h1><%= @venue.name %></h1>

<div id="controls" role="region" aria-label="Controls">
	<label for="volumeRange">Volume:</label> <input id="volumeRange" type="range" min="0.0" max="1.0" step="0.01" value="0.5"/>
</div>

<div id="break" class="row invisible">
	<h2>Currently on Break</h2>
</div>
<div id="main" class="row mainrow rowspace50">
<div class="col-md-4" id="timer" role="region" aria-label="Timer">
	0:00
</div>
<div class="col-md-8" id="paper-info" role="region" aria-label="Paper Information">
	<% if @venue.active_paper -%>
		<p class="paper-id"><%= @venue.paper_pcs_id %></p>
		<p class="paper-title"><%= @venue.paper_title %></p>
		<p class="paper-authors"><%= @venue.paper_authors %></p>
	<% else -%>
		<p class="no-active-paper">No Active Paper</p>
	<% end -%>
</div>
</div>
<div class="row rowspace50">
	<div class="col-md-6" role="region" aria-label="Upcoming Papers">
		<h4>Upcoming Papers: (<span id="queue-count"><%= @papers.length %></span>)</h4>
		<ul id="paper-queue">
		<% @papers.each do |paper| -%>
			<li class="paper">
				<% if @venue.pcs2_flag -%>
					<%= link_to paper.pcs_paper_id, "https://new.precisionconference.com/" + @venue.pcs2_venue_name + "/committee/subs/" + paper.pcs_paper_id.to_s %>
				<% else -%>
					<%= paper.pcs_paper_id %>
				<% end -%>
			</li>
		<% end -%>
		</ul>
		<% if @venue.allow_adds -%>
		<p role="region" aria-label="Add a paper to upcoming list">
			<label for="newPaperId">Add A Paper:</label>
			<input type="text" id="newPaperId"/>
			<button id="addNewPaper">Add</button>
		</p>
		<% end -%>
	</div>
	<div class="col-md-6" role="region" aria-label="Highlight your AC papers">
		<h4>Highlight Your AC Papers</h4>
		<p>
			Adding paper IDs to the list below will cause the corresponding IDs
			to be highlighted in the upcoming papers list.  This makes it easier
			to see when your papers are coming up.
		</p>
		<p>
			<b>Please Note:</b> This list of ID numbers is stored locally in your
			browser and nowhere else.  The web server has no knowledge of what you
			enter here.  If you are still concerned, please don't use this
			feature.
		</p>
		<p role="region" aria-label="Manage papers in AC list">
			<label for="acPaperId">Add an AC Paper:</label>
			<input type="text" id="acPaperId"/>
			<button id="addACPaper">Add</button>
			<button id="clearAllACPapers">Clear All AC Papers</button>
		</p>
		<ul id="acPaperList">
		</ul>
	</div>
</div>
</main>